.post {
  border-bottom: #282c34 1px solid;
  position: relative;

  .title {
    padding-left: 4em;
    padding-right: 4em;
    display: inline-block;
    font-size: 45px;
    margin-inline-start: 0;
    margin-inline-end: 0;
    font-weight: bold;
    line-height: inherit;
    letter-spacing: inherit;
    text-transform: inherit;
    &:hover {
      background: inherit;
      filter: brightness(1.2);
    }
  }
  .actions {
    position: absolute;
    top: 0.25em;
    right: 1em;
  }
}
